%h3 LinkedIn

- if @profile
  .profile_name
    = @profile.first_name
    = @profile.last_name

  .profile_title
    %em
      = @profile.headline

%hr
%h4 People Search
= form_tag linkedin_path, :method => :get do
  = select_tag :type, options_for_select(@people_search_options)
  = text_field_tag :q
  = submit_tag 'Search'

%hr
%h4 Company Search
= form_tag linkedin_path, :method => :get do
  = select_tag :type, options_for_select(@company_search_options)
  = text_field_tag :q
  = submit_tag 'Search'

%hr
%h4 Generic API
= form_tag linkedin_path, :method => :get do
  = hidden_field_tag 'type', 'api'
  = text_field_tag :q, @query, :size => 70
  = text_field_tag :post_process, @post_process
  = submit_tag 'Search'


- if @search_results
  %hr
  %h4 Search Results
  %table{:border => 1}
    = render 'shared/search_headings', :headings => @search_headings
    - if @search_results.is_a?(Array)
      - @search_results.each do |result|
        = render 'shared/search_result', :result => result, :attribs => @search_headings
    - else
      = render 'shared/search_result', :result => @search_results, :attribs => @search_headings





