%h3 LinkedIn

- if @profile
  .profile_name
    = @profile.first_name
    = @profile.last_name

  .profile_title
    %em
      = @profile.headline
%hr

%h4 People Search

= form_tag linkedin_path, :method => :get do
  = select_tag :type, options_for_select(@search_type_options)
  = text_field_tag :q
  = submit_tag 'Search'


- if @search_results
  %hr
  %h4 Search Results
  %table{:border => 1}
    = render 'shared/search_headings', :headings => @search_headings
    - @search_results.each do |result|
      = render 'shared/search_result', :result => result, :attribs => @search_headings












/- if @connections
/  %ul
/    = @connections.all.each do |c|
/      %li
/        = c


